html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.4;
    background-color: #f3d4d4;
}

.container {
    width: 100%;
    max-width: 650px;
    margin: 10px auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #333;
    height: 95vh;
    overflow-y: auto;
    border: 3px solid #4f3961;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.app-title {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 80px;
    color: #4f3961;
}

.todo-list {
    list-style: none;
    margin-bottom: 20px;
}

.todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4f3961;
}

.todo-item span {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

.done span {
    text-decoration: line-through;
}

input[type="checkbox"] {
    display: none;
}

.tick {
    width: 30px;
    height: 30px;
    border: 3px solid #4f3961;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tick::before {
    content: '✓';
    color:#4f3961;
    font-size: 20px;
    display: none;
}

.done .tick::before {
    display: inline;
}

.delete-todo {
    color: #4f3961;
    outline: none;
    cursor: pointer;
}


form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #4f3961;
}

input[type='text']:focus {
    outline: none;
}


input{
    margin-bottom: 10px;
}


.btn{
    outline: none;
    border-radius: 4px;
    border: 3px solid #4f3961;
    color: #fff;
    background-color: #4f3961;
    padding: 10px 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
}

h5{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    cursor: pointer;
}